<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag '/screen', :media => 'screen' %>
		<%= stylesheet_link_tag '/print', :media => 'print' %>
	</head>
	<body>
		<h1>Bem vindo ao My App</h1>
		<p>
			Hello. This is my home page. 
		</p>
		<%= yield %>
		<%= link_to "Entre", signup_path , :class => "signup_button round" %>	</body>
